<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ABOUT MY HOTEL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/hotel.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>save time, save money</ion-card-subtitle>
        <ion-card-title>You are Welcome</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>We are located on Plot 44, Mukabya Road , Kampala</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>find more</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="locate"></ion-icon>
        <ion-label>Google map location</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="albums"></ion-icon>
        <ion-label>History</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="person"></ion-icon>
        <ion-label>Our customer care team</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
