<ion-header>
  <ion-toolbar>
    <ion-title>Subscribe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>
<ion-item>
<ion-label position="floating">Email</ion-label>
<ion-input type="email"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Password</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>
</ion-list>
<ion-button fill="solid" expand="block" color="primary" >Login</ion-button>
<p>Don't have an account? <a href="/register">register</a> </p>
</ion-content>
